kind: PrometheusRule
apiVersion: monitoring.coreos.com/v1
metadata:
  labels:
    app: kube-prometheus-stack
  name: {{ .Values.prometheus.appName }}-prometheus-resourcequota.rules
  namespace: {{ .Release.Namespace }}
spec:
  groups:
    - name: {{ .Values.prometheus.appName }}-PrometheusResourceQuotas
      rules:
      - alert: {{ .Values.prometheus.appName }}-CpuLimitResourceQuota
        annotations:
          description: "High CPU limit Usage for {{ .Release.Name }} in Resource Quotas"
          summary: "CPU limit usage for {{ .Release.Name }} is high and its more than 90% in Resource Quotas"
        expr: sum(kube_resourcequota{namespace="{{ .Release.Namespace }}", resource="limits.cpu", type="used"})/sum(kube_resourcequota{namespace="{{ .Release.Namespace }}", resource="limits.cpu", type="hard"}) * 100 > 90
        for: 5m
        labels:
          severity: critical
      - alert: {{ .Values.prometheus.appName }}-CpuRequestResourceQuota
        annotations:
          description: "High CPU request Usage for {{ .Release.Name }} in Resource Quotas"
          summary: "CPU request usage for {{ .Release.Name }} is high and its more than 90% in Resource Quotas"
        expr: sum(kube_resourcequota{namespace="{{ .Release.Namespace }}", resource="requests.cpu", type="used"})/sum(kube_resourcequota{namespace="{{ .Release.Namespace }}", resource="requests.cpu", type="hard"}) * 100 > 90
        for: 5m
        labels:
          severity: critical
      - alert: {{ .Values.prometheus.appName }}-MemoryLimitResourceQuota
        annotations:
          description: "High Memory limit Usage for {{ .Release.Name }} in Resource Quotas"
          summary: "Memory limit usage for {{ .Release.Name }} is high and its more than 90% in Resource Quotas"
        expr: sum(kube_resourcequota{namespace="{{ .Release.Namespace }}", resource="limits.memory", type="used"})/sum(kube_resourcequota{namespace="{{ .Release.Namespace }}", resource="limits.memory", type="hard"}) * 100 > 90
        for: 5m
        labels:
          severity: critical
      - alert: {{ .Values.prometheus.appName }}-MemoryRequestResourceQuota
        annotations:
          description: "High Memory request Usage for {{ .Release.Name }} in Resource Quotas"
          summary: "Memory request usage for {{ .Release.Name }} is high and its more than 90% in Resource Quotas"
        expr: sum(kube_resourcequota{namespace="{{ .Release.Namespace }}", resource="requests.memory", type="used"})/sum(kube_resourcequota{namespace="{{ .Release.Namespace }}", resource="requests.memory", type="hard"}) * 100 > 90
        for: 5m
        labels:
          severity: critical
      - alert: {{ .Values.prometheus.appName }}-StorageRequestResourceQuota
        annotations:
          description: "High Storage request Usage for {{ .Release.Name }} in Resource Quotas"
          summary: "Storage request usage for {{ .Release.Name }} is high and its more than 90% in Resource Quotas"
        expr: sum(kube_resourcequota{namespace="{{ .Release.Namespace }}", resource="requests.storage", type="used"})/sum(kube_resourcequota{namespace="{{ .Release.Namespace }}", resource="requests.storage", type="hard"}) * 100 > 90
        for: 5m
        labels:
          severity: critical
