kind: PrometheusRule
apiVersion: monitoring.coreos.com/v1
metadata:
  labels:
    app: kube-prometheus-stack
  name: {{ .Values.prometheus.appName }}-prometheus-redis.rules
  namespace: {{ .Release.Namespace }}
spec:
  groups:
    - name: {{ .Values.prometheus.appName }}-PrometheusRedisRules-ota
      rules:
        - alert: {{ .Values.prometheus.appName }}-RedisConnectedClientsHigh
          expr: redis_connected_clients{ namespace="{{ .Release.Namespace }}" } / redis_config_maxclients{ namespace="{{ .Release.Namespace }}" } > 0.8
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: "High number of connected clients on Redis instance"
            description: "Redis instance is using more than 80% of its allowed client connections."
        - alert: {{ .Values.prometheus.appName }}-RedisInstanceDown
          expr: up{job="{{ .Values.prometheus.appName }}-redis-metrics", namespace="{{ .Release.Namespace }}" } == 0
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: "Redis instance is down"
            description: "The Redis instance is unreachable."
        - alert: {{ .Values.prometheus.appName }}-RedisHighCPUUsage
          expr: rate(process_cpu_seconds_total{job="{{ .Values.prometheus.appName }}-redis-metrics", namespace="{{ .Release.Namespace }}" }[1m]) > 0.8
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: "High CPU usage on Redis instance"
            description: "Redis instance is consuming more than 80% of CPU."
