apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-deployment
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service
  template:
    metadata:
      labels:
        app: service
    spec:
      serviceAccountName: service-sa
      volumes:
        {{- with .Values.service.extraCa }}
        - name: extra-ca
          secret:
            secretName: {{ .secret }}
            items:
            - key: ca.crt
              path: ca.crt
        {{- end }}
      initContainers:
        - name: init
          image: europe-docker.pkg.dev/corvina-exorint/dockerhub-remote/groundnuty/k8s-wait-for:1.3
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          args:
            - "job"
            - "{{ .Release.Name }}-migrator-job-{{ .Release.Revision }}"
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 64Mi
      containers:
        - name: service
          image: {{ .Values.service.image }}:{{ .Values.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: service-config
          env:
            - name: START_FEATURES
              value: {{ .Values.service.envVar.START_FEATURES }}
            - name: PG_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgresql.global.postgresql.auth.existingSecret | default "corvina-app-[| .Name |]-postgresql" }}
                  key: password
                  optional: false
            [|- if .RedisEnabled |]
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.redis.auth.existingSecret | default "corvina-app-[| .Name |]-redis" }}
                  key: redis-password
                  optional: false
            [|- end |]
            {{- with .Values.service.extraCa }}
            - name: NODE_EXTRA_CA_CERTS
              value: /cacerts/ca.crt
            {{- end }}
          volumeMounts:
            {{- with .Values.service.extraCa }}
            - name: extra-ca
              mountPath: /cacerts
            {{- end }}
          readinessProbe:
            httpGet:
              path: /v1/health
              port: 3000
          livenessProbe:
            httpGet:
              path: /v1/health
              port: 3000
          resources:
            {{- toYaml .Values.service.resources | nindent 12 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: service-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: service
    tier: app-service-deployment
data:
  {{ if eq .Values.service.envVar.NODE_TLS_REJECT_UNAUTHORIZED "0" }}
  NODE_TLS_REJECT_UNAUTHORIZED: "0"
  {{ end }}
  LOG_LEVEL: {{ .Values.service.envVar.LOG_LEVEL }}
  PG_HOST: '{{ .Release.Name }}-postgresql'
  PG_PORT: '{{ .Values.service.envVar.PG_PORT }}'
  PG_USER: {{ .Values.postgresql.global.postgresql.auth.username }}
  PG_DATABASE: {{ .Values.postgresql.global.postgresql.auth.database }}
  PG_MAX_QUERY_EXEC_TIME: '{{ .Values.service.envVar.PG_MAX_QUERY_EXEC_TIME }}'
  PG_POOL_MAX: '{{ .Values.service.envVar.PG_POOL_MAX }}'
  PG_QUERY_LOGGING: '{{ .Values.service.envVar.PG_QUERY_LOGGING }}'
  MANIFEST_BASE_URL: {{ .Values.gateway.protocol }}://{{ .Values.gateway.appHost }}:{{ .Values.gateway.port }}
  MANIFEST_ID: {{ .Values.service.appId }}
  MANIFEST_API_VERSION: '{{ .Chart.AppVersion }}'
  MANIFEST_BASE_URL_FE_APP: {{ .Values.gateway.protocol }}://{{ .Values.gateway.appHost }}:{{ .Values.gateway.port }}
  INSTALLATION_HOSTS_WHITELIST: '{{ .Values.service.envVar.INSTALLATION_HOSTS_WHITELIST }}'
  REDIS_HOST: '{{ .Release.Name }}-redis-headless'
  REDIS_PORT: '6379'
  CACHE_DEFAULT_TTL: '30' # in seconds
---
apiVersion: v1
kind: Service
metadata:
  name: service-service
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: service # the Service will expose all Pods with a label of app: service
  ports:
    - port: 80
      targetPort: 3000
      name: {{ .Values.gateway.protocol }}-service-port
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: service-sa
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- with (dig "service-sa" "" .Values.workloadIdentity.gcpSaLinks) }}
    iam.gke.io/gcp-service-account: "{{ . }}"
    {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: service-sa-watch-jobs-rb
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: watch-jobs
subjects:
- kind: ServiceAccount
  name: service-sa
  namespace: {{ .Release.Namespace }}
