
istio-gateway:
  name: istio-exxxamplegateway
  service:
    type: LoadBalancer
    externalTrafficPolicy: Local
    ports:
    - name: https
      port: 11013
      protocol: TCP

k8sNamespace: corvina-app-exxxample

imagePullPolicy: IfNotPresent
tag: local

useFakeHttpServer: true

gateway:
  appHost: "exxxample.local.gd"
  protocol: "https"
  port: 11013
  certificateSecretName: "exxxample-crt-secret"
  issuer: 
    name: "my-ca-issuer"

postgresql:
  primary:
    persistence:
      size: 8Gi
    resources:
      limits:
        cpu: "500m"
        memory: "1Gi"
      requests:
        cpu: "250m"
        memory: "256Mi"
  global:
    #storageClass: "ssd-retain"
    postgresql:
      auth:
        username: corvina_app_exxxample
        database: corvina_app_exxxample
        existingSecret: postgresql-exxxample-secrets
        secretKeys:
          adminPasswordKey: POSTGRES_PASSWORD
          userPasswordKey: POSTGRES_PASSWORD

app:  
  image: exxxample_app

authz:
  image: authz

service:
  image: exxxample_service
  envVar:
    LOG_LEVEL: debug
    PG_PORT: 5432
    PG_MAX_QUERY_EXEC_TIME: 5000
    PG_POOL_MAX: 3
    PG_QUERY_LOGGING: false
    INSTALLATION_HOSTS_WHITELIST: '*'
    START_FEATURES: app.listen
    NODE_TLS_REJECT_UNAUTHORIZED: '0'

migrator:
  envVar: 
    START_FEATURES: migrator.up,quit

redis:
  auth:
    enabled: true
    existingSecret: exxxample-redis
    existingSecretPasswordKey: REDIS_PASSWORD
  architecture: standalone
  replica:
    replicaCount: 0
  master:
    resources:
      limits:
        cpu: "1"
        memory: "2Gi"
      requests:
        cpu: "500m"
        memory: "512Mi"

# https://cert-manager.io/docs/concepts/webhook/#known-problems-and-solutions
webhook.hostNetwork: true