revision: {{ .StateValues.releaseName }}
global:
  istioNamespace: {{ .Release.Namespace }}
  hub: europe-docker.pkg.dev/corvina-exorint/dockerhub-remote/istio
  configValidation: true
  defaultPodDisruptionBudget:
    enabled: false
  proxy:
    clusterDomain: {{ .StateValues.clusterDomain }}
    image: europe-docker.pkg.dev/corvina-exorint/dockerhub-remote/istio/proxyv2:1.29.0
pilot:
  autoscaleEnabled: false
  env:
    PILOT_SCOPE_GATEWAY_TO_NAMESPACE: true
    PILOT_IGNORE_RESOURCES: '*.gateway.networking.k8s.io'
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi
meshConfig:
  discoverySelectors:
  - matchLabels:
      kubernetes.io/metadata.name: {{ .Release.Namespace }}
  # Istio's default format plus the client TLS parameters, same as the corvina-k8s gateways
  accessLogFormat: |
    [%START_TIME%] "%REQ(:METHOD)% %REQ(X-ENVOY-ORIGINAL-PATH?:PATH)% %PROTOCOL%" %RESPONSE_CODE% %RESPONSE_FLAGS% %RESPONSE_CODE_DETAILS% %CONNECTION_TERMINATION_DETAILS% "%UPSTREAM_TRANSPORT_FAILURE_REASON%" %BYTES_RECEIVED% %BYTES_SENT% %DURATION% %RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)% "%REQ(X-FORWARDED-FOR)%" "%REQ(USER-AGENT)%" "%REQ(X-REQUEST-ID)%" "%REQ(:AUTHORITY)%" "%UPSTREAM_HOST%" %UPSTREAM_CLUSTER_RAW% %UPSTREAM_LOCAL_ADDRESS% %DOWNSTREAM_LOCAL_ADDRESS% %DOWNSTREAM_REMOTE_ADDRESS% %REQUESTED_SERVER_NAME% %ROUTE_NAME% gw=%ENVIRONMENT(ISTIO_META_WORKLOAD_NAME)%:%DOWNSTREAM_LOCAL_PORT% sni=%REQUESTED_SERVER_NAME% tls=%DOWNSTREAM_TLS_VERSION%/%DOWNSTREAM_TLS_CIPHER% cn="%DOWNSTREAM_PEER_SUBJECT%" issuer="%DOWNSTREAM_PEER_ISSUER%" ja4=%TLS_JA4_FINGERPRINT%
