
istio-gateway:
  revision: corvina-app-[| .Name |]
  name: istio-[| .Name |]gateway
  service:
    type: LoadBalancer
    ports:
    - name: https
      port: 11073
      protocol: TCP
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 2
    targetCPUUtilizationPercentage: 450 # (500 / 100) * 90 => 90% of the limits CPU

imagePullPolicy: IfNotPresent
tag: local

gateway:
  appHost: "[| .Name |].local.gd"
  protocol: "https"
  port: 11073
  certificateSecretName: "[| .Name |]-crt-secret"
  issuer: 
    name: "my-ca-issuer"

postgresql:
  primary:
    persistence:
      size: 8Gi
    resources:
      limits:
        cpu: "500m"
        memory: "1Gi"
      requests:
        cpu: "250m"
        memory: "256Mi"

app:  
  image: [| .Name |]_app

service:
  image: [| .Name |]_service
  envVar:
    LOG_LEVEL: debug
    PG_PORT: 5432
    PG_MAX_QUERY_EXEC_TIME: 5000
    PG_POOL_MAX: 3
    PG_QUERY_LOGGING: false
    INSTALLATION_HOSTS_WHITELIST: '*'
    START_FEATURES: app.listen
    NODE_TLS_REJECT_UNAUTHORIZED: '0'

migrator:
  envVar: 
    START_FEATURES: migrator.up,quit

[|- if .RedisEnabled |]
redis:
  architecture: standalone
  replica:
    replicaCount: 0
  master:
    resources:
      limits:
        cpu: "1"
        memory: "2Gi"
      requests:
        cpu: "50m"
        memory: "128Mi"
[|- end |]

[| if .StasherEnabled |]
stasher:
  image: europe-west1-docker.pkg.dev/corvina-app-stasher/images/corvina-app-stasher:chart-1.0.0
[| end |]


# https://cert-manager.io/docs/concepts/webhook/#known-problems-and-solutions
webhook.hostNetwork: true

registration:
  enabled: false
  namespace: prod
  image: docker.io/bitnami/keycloak
  appName: [| .Name |]
  core:
    service: corvina-core
    port: 80
  keycloak:
    service: corvina-keycloak
    port: 80
    secret: corvina-keycloak-admin-secret
  manifest:
    url: https://[| .Name |].corvina.mk/v1/manifest.json
