name: Render and publish Kubernetes templates
run-name: Render and publish Kubernetes templates to ${{ github.event_name == 'workflow_dispatch' && inputs.environment || 'internal-qa' }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Helmfile environment
        required: true
        default: internal-qa
        type: choice
        options:
        - internal-qa

# # optional auto render after push to master in qa environment
# push:
#   branches:
#   - master
#   paths:
#   - "helm-charts/**"

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  render:
    name: Publish corvina-app-[| .Name |] templates
    uses: Corvina-R-D/corvina-github-actions/.github/workflows/render-addon-app.yaml@v5
    with:
      environment: ${{ github.event_name == 'workflow_dispatch' && inputs.environment || 'internal-qa' }}
