@use 'vuetify/settings' with (
  // $utilities: false,
  $button-height: 42px,
  $table-header-height: 32px,
  $button-border-radius: 0,
  $toolbar-title-margin: 0,
  $tabs-height: 40px,
  $tab-align-tabs-title-margin: 0,
);